<img src="imagens/Boas vindas.png">

<img src="imagens/1.png">

<img src="imagens/2.png">

<img src="imagens/variaveis.png">

# 1. O que são variáveis?

**Programação de Sistemas** <br>
* As variáveis são nomes usados para armazenar um ou mais valores. Sendo assim, ao invés de repetir esses valores em vários lugares do seu código, podemos recuperados a partir do nome da variável que armazena este valor.
<br><br>
* As variáveis são elementos básicos na programação, pois armazenam os dados que precisamos utilizar em nosso algoritmo.

<img src="imagens/variaveis_prog.png">

**Estatística** 
* As variáveis são valores que representam determinadas características dentro de uma base de dados. Esses valores podem variar de um elemento para outro.<br><br>
* As Variáveis estão relacionadas as medidas de cada elemento de uma amostra ou população e elas podem ter valores numéricos ou não numéricos.

# 1.1. Tipos de Variáveis ?

<img src="imagens/variaveis_tipos.png">

**Variáveis Quantitativas ou Numéricas**:<br>
São representadas por meio de números resultantes de uma contagem ou mensuração. Elas podem ser de dois tipos:
<br>
* **Variáveis discretas:** os valores representam um conjunto finito ou enumerável de números, e que resultam de uma contagem, por exemplo: Número de filhos (0,1,2,…), número de bactérias por amostra, número de copos de cerveja tomados por dia.
<br><br>
* **Variáveis contínuas:** os valores pertencem a um intervalo de números reais e representam uma mensuração como por exemplo altura ou peso de uma pessoa. Nesses casos números fracionais fazem sentido. Exemplo: tempo (relógio) e pressão arterial, salário, altura, etc.
<br><br>

**Variáveis Qualitativas ou Categóricas:** <br>
Representam uma qualidade (ou atributo) de um indivíduo pesquisado, são definidas por várias categorias. São características que não possuem valores quantitativos. Essas variáveis podem ser de dois tipos:
<br>
* **Variável nominal:** quando não existe nenhuma ordenação nas possíveis representações. Exemplos: sexo, cor dos olhos, cor do cabelo, fumante/não fumante, profissão.
<br><br>
* **Variável ordinal:** quando apresentam uma ordem nos seus resultados. Exemplos: escolaridade (1, 2, 3 graus), mês de observação (janeiro, fevereiro, …, dezembro.), grau de complexidade (alto, médio, baixo).

In [2]:
#bibliotecas utilizadas na Parte I desta aula
import pandas as pd
import warnings
import os

%matplotlib inline
warnings.filterwarnings('ignore')

# Remover notação científica do DataFrame
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Mostrar todas as colunas
pd.options.display.max_columns = None

In [3]:
# Path do dataset na máquina
path = r'C:\Work\ALAN\UNIVERSITY\PUC\01. DISCIPLINAS\00001 - EAD MACHINE LEARNING\Aula02\dataset'
os.chdir(path)
os.listdir()

['FuelConsumptionCo2.csv',
 'FuelConsumptionRatings2021.csv',
 'FuelConsumptionRatings2023.csv']

In [4]:
# Carregando o Dataset
df = pd.read_csv("FuelConsumptionCo2.csv")

In [5]:
df.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.00,4,AS5,Z,9.90,6.70,8.50,33,196
1,2014,ACURA,ILX,COMPACT,2.40,4,M6,Z,11.20,7.70,9.60,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.50,4,AV7,Z,6.00,5.80,5.90,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.50,6,AS6,Z,12.70,9.10,11.10,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.50,6,AS6,Z,12.10,8.70,10.60,27,244

In [25]:
# Exibe todas as colunas que pertencem ao dataset
df.columns

Index(['MODELYEAR', 'MAKE', 'MODEL', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUELTYPE', 'FUELCONSUMPTION_CITY',
       'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB',
       'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS'],
      dtype='object')

In [26]:
""" 
Este comando dtypes retorna os Tipos de Dados para cada campo em um Dataframe. 
Descreve os aspectos dos dados: Tipo dos dados (inteiro, float, objeto Python, etc.)

"""

df.dtypes

MODELYEAR                     int64
MAKE                         object
MODEL                        object
VEHICLECLASS                 object
ENGINESIZE                  float64
CYLINDERS                     int64
TRANSMISSION                 object
FUELTYPE                     object
FUELCONSUMPTION_CITY        float64
FUELCONSUMPTION_HWY         float64
FUELCONSUMPTION_COMB        float64
FUELCONSUMPTION_COMB_MPG      int64
CO2EMISSIONS                  int64
dtype: object

# 1.2. Conversão de Tipos de Variáveis Numéricas int e float

Existem dois tipos de dados numéricos que geralmente passam por processos de transformação:
<br>
* Números de **Tipos Inteiros** (int) <br>
* Números de Tipos de **Ponto flutuante** (float).<br>

Em algumas situações será necessário converter um inteiro para float ou vice-versa. Em outros casos, você pode estar usando um inteiro quando o que realmente precisa é de um float.<br>

Para isso, o Python possui métodos integrados para permitir a conversão de inteiros em floats e floats em inteiros.

In [26]:
# O método int()  - Converte Float para Int 
"""
Através da função int() é possível realizar a conversar de um valor de número flutuante 
para um número Inteiro

"""
print ("Neste caso, o valor float = 369.89 será convertido em int", int(369.89))

Neste caso, o valor float = 369.89 será convertido em int 369

In [43]:
# O método int()  - Converte Float para Int com o uso de variáveis 
"""
Também podemos a técnica com as variáveis. Vamos declarar b como igual a 256.0, e c como igual a 390.8, 
e então imprimir os novos floats:

"""

# Antes da conversão
b = 125.0
c = 390.8

print(type(b))
print(type(c))


# Conversão do tipo
b = int(b)
c= int(c)


# Depois da conversão
print(int(b))
print(int(c))

print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
125
390
<class 'int'>
<class 'int'>

In [30]:
# O método float()  - Converte Inteiro para Float 
"""
Para usar essa função, adicione um inteiro dentro dos parênteses

"""

print ("Neste caso, o valor int = 154 será convertido em float = %3.2f" %float(154))

Neste caso, o valor int = 154 será convertido em float = 154.00

In [18]:
# Também é possível usar essa técnica com uma variável. 
# Vamos declarar value como igual a 165, e então imprimir o novo float:

value = 165
print (float(value)," - Neste caso, o valor int", value , "será convertido em float = %3.2f" %value)

165.0  - Neste caso, o valor int 165 será convertido em float = 165.00

# 1.3. Conversão de Tipos de Variáveis Strings em Números (int e float)

As strings podem ser convertidas em números usando os métodos int() e float().

Se sua string não tiver casas decimais, você provavelmente vai querer convertê-la em um número inteiro, usando o método int().

In [34]:
# Variáveis Strings

lines_yesterday = "50"
lines_today = "108"

lines_more = lines_today - lines_yesterday

print(lines_more)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [35]:
# Trabailhando com conversão para int

"""
Como os dois valores numéricos foram armazenados em strings, um erro foi emitido. 
O operando - para a subtração não é um operando válido para dois valores de string.

O código a seguir inclui o método int() que converterá as strings em inteiros, 
permitindo, assim, fazer operações matemáticas com os valores que eram originalmente strings.

"""

lines_yesterday = "50"
lines_today = "108"

lines_more = int(lines_today) - int(lines_yesterday)

print(lines_more)

58

In [36]:
# Trabailhando com conversão para float

"""
Podemos converter os números no exemplo a seguir em valores float usando o método float().
O sinal de + quando operando com valores Strings, no nosso exemplo irá concatenar as strings
e nós não queremos concatenar, mas realizar uma operação de adição.

Então, nosso resultado parece não convencional, pois apenas coloca os dois valores um ao lado do outro

"""

total_points = "5524.53"
new_points = "45.30"

new_total_points = total_points + new_points

print(new_total_points)

5524.5345.30

In [37]:
# Convertendo para Float

"""
Precisamos converter essas strings em floats antes de executar qualquer operação matemática com o método float():

"""

total_points = "5524.53"
new_points = "45.30"

new_total_points = float(total_points) + float(new_points)

print(new_total_points)

5569.83

# 1.4. Erros comuns com variáveis

Entre os erros mais comuns que acontecem principalmente com quem está iniciando estão os **famosos TypeError**!

Qual o erro que encontramos no exemplo abaixo? 


peso = 65.55
altura = '1.7'

imc = peso/altura**2

In [46]:
# O seguinte erro será lançado:

"""
TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

"""
    
peso = 65.55 
altura = '1.7'

imc = peso/altura**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [50]:
"""
Para fazer esse cálculo corretamente a altura não pode ser string, podendo ser float ou inteiro 
(caso não fosse um valor decimal). 

Uma forma correta de realizar esse cálculo seria da seguinte maneira:

"""

peso = 65.55
altura = 1.7

imc = peso/altura**2

print("%3.4f" %imc)

22.6817

### Conclusão

Importante reforçar que nosso objetivo aquin não é cobrir todos os tipos de dados existentes, até porque muitos desses têm suas próprias subclassificações e o assunto é muito extenso. Mas conseguimos cobrir aqueles tipos de dados que são mais comuns no mercado e entre as pessoas técnicas da área de estatística e Data Science. 

O mais importante de tudo é entender como navegar entre esses conceitos na hora de tomar decisões, sejam elas de formatação de banco de dados ou até mesmo nos modelos de coleta e armazenagem, não confundindo ou misturando tipos de dados distintos e correndo o risco de inviabilizar determinadas análises por conta disso.

<img src="imagens/pandas.png">

# 1. O que é o Pandas ?

<img src="imagens/pandas_pet.png">

<img src="imagens/pandas_conceito.png">

<img src="imagens/pandas_PanelData.png">

# 2. Como Funciona o pandas ?

<img src="imagens/pandas_como.png">

In [ ]:
#bibliotecas utilizadas nesta aula
import pandas as pd
import warnings
import os

%matplotlib inline
warnings.filterwarnings('ignore')

# Remover notação científica do DataFrame
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Mostrar todas as colunas
pd.options.display.max_columns = None

<img src="imagens/scikitlearn.png">

# 1. O que é o ScikitLearn?

<img src="imagens/ScikitLearn_conceito.png">

In [14]:
#bibliotecas utilizadas nesta aula
import pandas as pd
import warnings
import os

%matplotlib inline
warnings.filterwarnings('ignore')

# Remover notação científica do DataFrame
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Mostrar todas as colunas
pd.options.display.max_columns = None